#total-well {
  display: none;
}
.well {
  background-color: rgba(42, 42, 42, 0.4);
  text-align: center;
}
body {
  background-image: url("../img/accent-weave.png"); 
}

.head {
  color: azure;
}

.row {
  color: azure;
}

#menu {
  font-family: 'Bangers', cursive;

  font-size: x-large;
}

h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: 'Bangers', cursive;
  text-align: center;
  color: azure;
}

h4 {
  font-family: 'Bangers', cursive;
  text-align: center;
  color: azure;
}
h5 {
  font-family: 'Bangers', cursive;
  text-align: center;
}

